
.step {
  padding: 160px 0px 160px 0px;
  &-text {
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  &-wrap {
    margin-bottom: 120px;
  }
  &-title {

  }
  &-card {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    &__info {
      margin-right: 59px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-arrow {
        width: 8px;
        height: 92px;
        background-color: #F5F9FF;
      }
      &-num {
        font-weight: 900;
        font-size: 58px;
        line-height: 79px;
        color: #00CC99;
        margin-bottom: 21px;
      }
    }
    &__text {

    }
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #000099;
      margin-bottom: 16px;

    }
    &__descr {
      font-size: 18px;
      line-height: 27px;
      color: #333399;
      p {

      }
    }
  }
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &-btn {
    
  }
}